.footer {
    .text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px; // Add some space between the text and the icons
    }
  
    .icon-container {
      display: flex;
      justify-content: center;
      gap: 10px; // Space between icons
    }
  
    .social-icon {
      font-size: 30px;
      color: white;
    }
  }
  