<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <img src="../../../assets/images/UniversiCleta.png" alt="Universicleta" class="logo-universicleta">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto"
          style="display: flex; align-items: center; justify-content: center; width: 100%;">
          <li class="nav-item">
            <span class="principal-title" (click)="goTo('home')" [class.active]="selectedItem === 'home'">
              <span class="material-symbols-outlined">
                home
              </span>INICIO
            </span>
          </li>
          <li class="nav-item">
            <span class="principal-title" (click)="goTo('atenciones')" [class.active]="selectedItem === 'atenciones'">
              <span class="material-symbols-outlined">
                handshake
              </span>NOSOTROS</span>
          </li>
          <li class="nav-item">
            <span class="principal-title" (click)="goTo('atenciones')" [class.active]="selectedItem === 'atenciones'">
              <span class="material-symbols-outlined">
                webhook
              </span>¿CÓMO FUNCIONA?</span>
          </li>

          <li class="nav-item" *ngIf="logged">
            <span class="principal-title" (click)="goTo('atenciones')" [class.active]="selectedItem === 'atenciones'">
              <span class="material-symbols-outlined">
                person
              </span>CUENTA</span>
          </li>
        </ul>
        <div class="d-flex ms-auto align-items-center">
          <button class="me-2" mat-flat-button color="primary" (click)="reservar()">Reservar</button>
          <app-login-page></app-login-page>
          <img src="../../../assets/images/Logos-ViceCultura-y-División-de-Deporte.png" alt="vicerectoria"
            class="logo-vcb">
        </div>
      </div>
    </div>
  </nav>
</header>