$primary : rgb(24, 133, 223);
$warn : rgb(228, 26, 38);
$accent :rgb(56, 203, 252);
$hover-dark :rgb(64, 51, 182);
$hover-light: rgb(123, 231, 247);


.container-principal {
    width: 100% !important;
    // height: 200px;
    background-color: #7ED957;
}

.inicio {
    background-color: #112979;
    width: 100% !important;
    height: auto;
    padding-top: 40px;
}


.parent-div {
    color: white;
    background-color: #DB141C;
    padding: 10px;
    border: 2px solid #ffffff;
    position: relative;
    width: 51%;
    margin: 20px auto;
    text-align: left;
    border-radius: 20px;
}

.child-div {
    color: white;
    background-color: #1D72D3;
    padding: 10px;
    border: 2px solid #ffffff;
    width: 30%;
    text-align: center;
    // border-radius: 20px;
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
}




.img-fluid {
    max-width: 45%;
    height: min-content;
}

.big-text {
    font-size: 65px;
    margin-top: 3rem;
}



// .inicio h2 {
//     color: white;
//     margin-top: 6rem;
//     margin-bottom: 10px;
//     margin-left: 70px;
// }

// .inicio p {
//     color: white;
//     margin-bottom: 5rem;
//     margin-left: 70px;
//     font-size: 18px;
// }

.estadistica {
    margin-top: 6rem;
}

.estadistica h2 {
    color: #7ED957;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 70px;
    text-align: center;
}

.estadistica h3 {
    color: $primary;
    font-size: 60px;
}

.estadistica p.subt {
    font-size: 18px;
    margin-bottom: 5rem;
    margin-left: 70px;
}

.estadistica p.sbt {
    font-size: 18px;
}

.bici {
    margin-top: 6rem;
}

.bici h2 {
    margin-bottom: 3rem;
}

.map {
    margin-top: 6rem;
}

.map p {
    font-size: 18px;
}