<div class="container mt-4">
    <!-- Sección de descripción -->
    <div class="row mb-4">
        <div class="col-md-6">
            <h2>Vive la sensación única de moverte en bici</h2>
            <p>Descubre una nueva forma de moverte por el campus y la ciudad con Universicleta. Fomenta el uso de la
                bicicleta como transporte sostenible y saludable mientras disfrutas de una nueva experiencia.</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="../../../assets/bici.jpg" alt="Bici Universicleta" class="img-fluid rounded">
        </div>
    </div>

    <!-- Sección de estadísticas -->
    <div class="row text-center mb-4">
        <div class="col-md-6">
            <h3>96</h3>
            <p>Bicis eléctricas</p>
        </div>
        <div class="col-md-6">
            <h3>8</h3>
            <p>Estaciones</p>
        </div>
        <div class="col-md-6">
            <span class="material-symbols-outlined big-text">
            compost
            </span>            
            <p>Transporte Sustentable</p>
        </div>
        <div class="col-md-6">
            <span class="material-symbols-outlined big-text">
            mobile_friendly
            </span>
            <p>Gestion Rapida en la Web</p>
        </div>
    </div>

    <!-- Sección de bici -->
    <div class="row mb-4">
        <div class="col text-center">
            <h2>¡Bicicletas de alta calidad disponibles para  nuestra comunidad Universitaria!</h2>
            <img src="../../../assets/mapa.png" alt="imagen bici" class="img-fluid rounded">
        </div>
    </div>

    <!-- Sección de mapa -->
    <div class="row mb-4">
        <div class="col text-center">
            <h2>Nuestras Estaciones</h2>
            <p>Consulta las estaciones que ya están en la calle y la disponibilidad de bicis desde tu perfil.</p>
            <img src="../../../assets/mapa.png" alt="Mapa de estaciones" class="img-fluid rounded">
        </div>
    </div>
</div>