$primary : rgb(24, 133, 223);
$warn : rgb(228, 26, 38);
$accent :rgb(56, 203, 252);
$hover-dark :rgb(64, 51, 182);
$hover-light: rgb(123, 231, 247);



.container-principal {
    width: 100%;
    max-width: 100%; /* Asegura que el contenedor principal no exceda el ancho de la pantalla */
    // background-color: #000066;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    overflow-x: hidden; /* Evita el scroll horizontal en el contenedor principal */
}

.cont_color{
    background-color: #000066;
    padding: 10px;
    // width: 100% !important;
    height: 600px;
}
.container_uno,
.container_preguntas_child,
.container_dos,
.container_tres,
.container_cuatro {
    width: 100%;
    max-width: 1140px; /* Ancho máximo para centrar */
    padding: 0 15px;
    margin-bottom: 30px;
    overflow-x: hidden; /* Evita scroll horizontal */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_child_button {
    background-color: #DB141C;
    width: 80% !important;
    color: white;
    padding: 10px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 20px;
    border: 2px solid #ffffff;
    // overflow-x: hidden; /* Evita el scroll horizontal */
}

.text_presentacion {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    word-break: break-word; /* Asegura que las palabras largas no causen desbordamiento */
}

.text_presentacion h2,
.text_presentacion h5,
.text_presentacion p {
    width: 100%;
    text-align: justify;
}

.text_presentacion h2 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.text_presentacion h5 {
    text-align: left;
    margin-bottom: 10px;
}

.img-fluid {
    width: 100%;
    height: auto;
    max-width: 100%; /* Asegura que la imagen no desborde */
    border-radius: 20px;
    border: 2px solid white;
}

.container_dos {
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    overflow: hidden; /* Oculta cualquier desbordamiento */
}

.container_tres,
.container_cuatro {
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
}

.sbt {
    margin: 0;
    text-align: center;
}

.big-text {
    font-size: 48px;
}

/* Asegura que el iframe del mapa no cause desbordamiento */
.gmap_canvas iframe {
    width: 100%;
    border: 0;
}