<div class="container-fluid">
    <!-- Sección de bienvenida -->
    <div class="inicio row mb-4">

        <div class="parent-div">
            <div class="child-div">
                Este es el contenido del div más pequeño.
            </div>
        </div>

        <div class="col-md-6 pr-md-0">
            <h2 class="text-left">Vive la sensación única de moverte en bici</h2>
            <p class="text-left">¡Haz del campus tu carril y unete a Universicleta!</p>
            <p class="text-left">¡Bienvenido a Universicleta, el servicio de alquiler de bicicletas diseñado
                especialmente para la
                comunidad universitaria de la Universidad del Cauca! En Universicleta, estamos comprometidos con la
                promoción de un estilo de vida saludable, sostenible y amigable con el medio ambiente.</p>
        </div>
        <div class="col-md-6 text-center ">
            <img src="../../../assets/images/Capi.png" alt="Bici Universicleta" class="img-fluid rounded">
        </div>
    </div>

    <!-- Sección de estadísticas -->
    <div class="estadistica row mb-4">
        <div class="col-md-6 pr-md-0">
            <h2>Vive la sensación única <br> de moverte en bici</h2>
            <p class="subt">¡Descubre una nueva forma de moverte por el campus y la ciudad con
                Universicleta! Sumérgete en la experiencia de pedalear hacia un futuro más sostenible y saludable
                mientras disfrutas de una serie de beneficios exclusivos.</p>
        </div>
        <div class="col-md-6 pr-md-0 text-center">
            <div class="row justify-content-center no-gutters">
                <div class="col-md-6 text-center">
                    <h3>96</h3>
                    <p class="sbt">Bicis eléctricas</p>
                    <span class="material-symbols-outlined big-text">
                        compost
                    </span>
                    <p class="sbt">Transporte Sustentable</p>
                </div>
                <div class="col-md-6">
                    <h3>8</h3>
                    <p class="sbt">Estaciones</p>
                    <span class="material-symbols-outlined big-text">
                        mobile_friendly
                    </span>
                    <p class="sbt">Gestion Rapida en la Web</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Sección de bici -->
    <!-- TODO: Btns tipo de bicis-->
    <div class="bici row mb-4">
        <div class="col text-center">
            <h2>¡Bicicletas de alta calidad disponibles para nuestra comunidad Universitaria!</h2>
            <img src="../../../assets/images/bike_inicio.png" alt="imagen bici" class="img-fluid rounded">
        </div>
    </div>

    <!-- Sección de mapa -->
    <!-- TODO: hay mapa open source, le puedo colocar marcas para las estaciones. este es embedmap-->
    <div class="map row mb-4">
        <div class="col text-center">
            <h2>Nuestras Estaciones</h2>
            <p>Consulta las estaciones que ya están en la calle y la disponibilidad de bicis desde tu perfil.</p>
            <div class="mapdraw">
                <div class="gmap_canvas">
                    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1uvqBomqaRdcVmZuyPJaTOPf6O2hP_uE&ehbc=2E312F" width="640" height="480"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>