<div class="container-principal">
    <div class="cont_color ">
        <!-- Sección de Botón Principal -->
        <div class="container_uno">
            <div class="container_child_button">
                <div class="row w-100 m-0">
                    <div class="col-md-8 d-flex flex-column justify-content-center text-center text-md-left">
                        <h4>¡Pedalea hacia un futuro más verde con Universicleta!</h4>
                        <p>¿Tienes dudas? Consulta nuestras preguntas más frecuentes</p>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center align-items-center mt-3 mt-md-0">
                        <button mat-fab extended color="warn">
                            <mat-icon>favorite</mat-icon>
                            Aprende Cómo Hacerlo
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sección de Preguntas e Imágen -->
        <div class="container_preguntas_child">
            <div class="row w-100 m-0">
                <div class="col-md-6 text_presentacion">
                    <h2>Universicleta</h2>
                    <h5>¡Haz de la ciudad tu carril y únete a Universicleta!</h5><br />
                    <p>¡Bienvenido a Universicleta, el servicio de alquiler de bicicletas diseñado especialmente para la
                        comunidad universitaria de la Universidad del Cauca! En Universicleta, estamos comprometidos con
                        la promoción de un estilo de vida saludable, sostenible y amigable con el medio ambiente.</p>
                   <div class="row d-flex justify-content-center align-items-center">
                    <button  mat-fab extended>
                        <mat-icon>motorcycle</mat-icon>
                        ¡Únete!
                    </button>
                   </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center mt-4 mt-md-0">
                    <img src="../../../assets/images/Capi Universicleta.png" alt="Bici Universicleta"
                        class="img-fluid rounded img_portada">

                </div>
            </div>
        </div>

    </div>

    <!-- Sección de Estadísticas -->
    <div class="container_dos container_estadistica">
        <div class="row w-100 m-0">
            <div class="col-md-6">
                <h2>Vive la sensación única <br> de moverte en bici</h2>
                <p class="subt_t">¡Descubre una nueva forma de moverte por el campus y la ciudad con Universicleta!
                    Sumérgete en la experiencia de pedalear hacia un futuro más sostenible y saludable mientras
                    disfrutas de una serie de beneficios exclusivos.</p>
            </div>
            <div class="col-md-6 ">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <h3>96</h3>
                        <p class="sbt">Bicis eléctricas</p>
                        <span class="material-symbols-outlined big-text">compost</span>
                        <p class="sbt">Transporte Sustentable</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <h3>8</h3>
                        <p class="sbt">Estaciones</p>
                        <span class="material-symbols-outlined big-text">mobile_friendly</span>
                        <p class="sbt">Gestión Rápida en la Web</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección de Bicicletas -->
    <div class="container_tres text-center">
        <h2>¡Bicicletas de alta calidad disponibles para nuestra comunidad Universitaria!</h2>
        <div class="row mb-5 ">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <button  mat-fab extended>
                    <mat-icon>motorcycle</mat-icon>
                    Bici Mecánica
                </button>
                <button  mat-fab extended disabled="true">
                    <mat-icon>motorcycle</mat-icon>
                    Monocleta
                </button>
            </div>
        </div>
        <img src="../../../assets/images/borrar6.png" alt="imagen bici" class="img-fluid rounded">
    </div>

    <!-- Sección de Estaciones -->
    <div class="container_cuatro text-center">
        <h2>Nuestras Estaciones</h2>
        <p>Consulta las estaciones que ya están en la calle y la disponibilidad de bicis desde tu perfil.</p>
        <div class="mapdraw">
            <div class="gmap_canvas">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1uvqBomqaRdcVmZuyPJaTOPf6O2hP_uE&ehbc=2E312F"
                    width="100%" height="480" style="border: 0;"></iframe>
            </div>
        </div>
    </div>
</div>