<div class="modal-content">
    <!-- <div class="modal-header"> -->
    <!-- <div class="mb-0 ml-1">
        <button mat-mini-fab color="warn" aria-label="Close" [mat-dialog-close]="true"
            style="height: 20px;width: 20px;">X</button>
    </div> -->

    <!-- <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5> -->


    <!-- </div> -->
    <div class="modal-body mt-3">
        <div class="row">
            <div class="d-grid gap-2 d-md-flex justify-content-center mb-5">
                <img src="../../../assets/images/UniversiCleta.png" alt="" class="universicleta_logo">
            </div>

            <div class="col-12">
                <form (ngSubmit)="login()" #recepcionForm="ngForm">
                    <div class="form-field-wrapper">
                        <mat-icon class="usuario"></mat-icon>
                        <mat-form-field class="example-full-width mt-2">
                            <mat-label>Usuario</mat-label>
                            <input matInput placeholder="Número de documento" name="user" [value]="usuario"
                                [(ngModel)]="usuario" required>
                        </mat-form-field>
                    </div>
                    <div class="mb-3 form-field-wrapper">
                        <mat-icon class="password"></mat-icon>
                        <mat-form-field class="example-full-width mt-2">
                            <mat-label>Contraseña</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" id="contrasena" name="contrasena"
                                [(ngModel)]="password" required>
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                                'visibility'}}</mat-icon>
                        </mat-form-field>

                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-center">
                        <button mat-flat-button color="primary" class="btn-confirm" type="submit">Iniciar</button>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-center mt-3">
                        <a href="">¿Olvidaste la Contraseña?</a>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-center">
                        <a class="registro" (click)="registrar()" [mat-dialog-close]="true">Regístrate ahora</a>
                    </div>
                </form>
                <div class="d-grid gap-2 d-md-flex justify-content-center mt-3">
                    <img src="../../../assets/images/UVerde.png" class="uverde_logo" alt="">
                </div>
            </div>
        </div>
    </div>
</div>