<div class="container-fluid">
    <!-- Sección de bienvenida -->
    <div class="inicio row mb-4">
        <div class="col-md-6 pr-md-0">
            <h2 class="text-left">¿Cómo usar el servicio de alquiler de bicicletas de Universicleta?</h2>
            <p class="text-left first">En pocos pasos estarás disfrutando de la ciudad de la mejor manera: <br> en bici.
                ¿Vamos?</p>
            <div class="parent-div">
                <p class="text-left">Nuestras estaciones funcionan todos los días de 7:00 a.m. a 06:00 p.m. Reserva
                    desde tu perfil. Haz clic aquí para más información.</p>
            </div>
            <div class="button-container text-center">
                <button class="btn me-2" mat-flat-button color="accent">Manual de Uso</button>
                <button class="btn me-2" mat-flat-button color="accent">Reglamento</button>
            </div>
        </div>
        <img src="../../../assets/images/img_bikelogo.png" alt="Bici Universicleta" class="img-fluid rounded image">
    </div>


    <!-- Sección uno de pasos -->
    <!--TODO: aplicar estilos a todo, crear div con mascara-->
    <div class="secone row mb-4">
        <div class="col-md-6 pr-md-0 text-center">
            <div class="row justify-content-center no-gutters">
                <img src="../../../assets/images/img_bikelogo.png" alt="Bici Universicleta"
                    class="img-fluid rounded image">
            </div>
        </div>
        <div class="col-md-6 pr-md-0">
            <h2>1. Ingresa al Portal de Universicleta</h2>
            <h2>2. Crea tu cuenta o inicia sesión.</h2>
            <h2>3. Haz Click y Reserva</h2>
        </div>
    </div>


    <!-- Sección dos de pasos -->
    <div class="sectwo row mb-4">
        <div class="col-md-6 pr-md-0">
            <h2>4. Dirígete a la Estación y desbloquea tu Bici</h2>
            <p>Al estar en la estación, selecciona el botón Desbloquear<br>bicicleta en la página web en la sección de
                Reservas y se<br>habilitará la Bici reservada.</p>
        </div>
        <div class="col-md-6 pr-md-0 text-center">
            <div class="row justify-content-center no-gutters">
                <img src="../../../assets/images/img_bikelogo.png" alt="Bici Universicleta"
                    class="img-fluid rounded image">
            </div>
        </div>
    </div>

    <!-- Sección tres de pasos -->
    <div class="sectree row mb-4">
        <div class="col text-center">
            <h2>seccion de div con mascara</h2>
        </div>
    </div>

    <!-- Sección cuatro de pasos -->
    <div class="sectree row mb-4">
        <div class="col text-center">
            <h2>5. Consejos útiles y buenas prácticas para tu viaje</h2>
            <p>carrucel de fotos</p>
        </div>
    </div>

    <!-- Sección cinco de pasos -->
    <div class="sectree row mb-4">
        <div class="col text-center">
            <h2>6. Finaliza el pedaleo</h2>
            <p>¿Terminaste el viaje? ¡No dejes la bicicleta en la calle!! Entra a el portal web y comprueba cuál es la
                estación más cercana para devolverla.<br>¿Cómo? Selecciona “Disponibilidad” y bloquea tu bicicleta. No es
                necesario que sea la misma estación desde donde partiste.<br>
                En caso de que la estación elegida esté llena cuando llegues, elige otra más cercana con anclajes vacíos.</p>
            <div>div con mascara</div>
            <h2>¡Ten en cuenta!</h2>
            <div class="button-container text-center">
                <button class="btn me-2" mat-flat-button color="primary">Manual de Uso</button>
                <button class="btn me-2" mat-flat-button color="primary">Reglamento</button>
            </div>
        </div>
    </div>



</div>